---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Kirstin & Jonathan - wir heiraten!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero image={{ src: '~/assets/images/olives.free.jpg', alt: 'Olivenzweige' }}>
    <Fragment slot="title"> Informationen über die Gegend </Fragment>

    <Fragment slot="subtitle"> In der Gegend gibt es viele Aktivitäten. Hier eine kleine Auswahl. </Fragment>
  </Hero>

  <Features2 title="Massa Marittima" subtitle="Klein, aber fein.">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[--aw-color-secondary] opacity-50 dark:bg-transparent"></div>
    </Fragment>
    <p>
      Kathedrale, Festungsturm, Kloster, Brunnen, Eisdielen, Bars.
    </p> 
  </Features2>

  <Features2 title="Maremma und Meer" subtitle="Für die Aktiveren.">
    <p> 
      An den Strand in Follonica, zum Wandern in den Parco Naturale della Maremma. Auch Siena, San Gimigniano oder Volterra sind nicht weit.
    </p>
  </Features2>
</Layout>
