---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Image from '~/components/common/Image.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Kirstin & Jonathan - wir heiraten!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/olives.free.png', alt: 'Olivenzweige' }}>
    <Fragment slot="title">
      Kirstin & Jonathan <br />
      <span class="text-muted text-4xl">Ci sposiamo!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Schön, dass ihr hier seid! Hier findet ihr alle Informationen zu unserer Hochzeit - wir werden das eine oder
      andere Detail noch ergänzen.
    </Fragment>
  </Hero>

  <Content
    isReversed
    image={{
      src: '~/assets/images/casteani.png',
      alt: 'Casteani',
    }}
  >
    <Fragment slot="title"
      ><Image src={'~/assets/images/olive_3.png'} alt={'Oliven'} style="max-width: 2em; display: inline;" /> Wann und Wo</Fragment
    >
    <Fragment slot="content">
      <p>
        Vom 13. Juni bis 15. Juni 2025 seid ihr herzlich auf die <a
          class="underline"
          target="_blank"
          href="https://www.casteani.it/de/">Tenuta Casteani</a
        > eingeladen, wo wir mit euch feiern möchten.
      </p>
      <br />
      <p>
        13. Juni: <br />
        Welcomedinner am Freitagabend auf der Tenuta Casteani.
      </p>

      <p style="border-left: 2px solid #999; margin-left: 20px;"><br /></p>

      <p>
        14. Juni: <br />
        Trauung im <a
          class="underline"
          target="_blank"
          href="https://www.google.com/maps/place/Municipality+of+Massa+Marittima/@43.0504119,10.8880151,20.78z/data=!3m1!5s0x1329eea87a186e11:0xc0810b2e46394cfc!4m15!1m8!3m7!1s0x1329ec02565ae7e5:0x8486199bd0c53120!2s58024+Massa+Marittima,+Grosseto,+Italien!3b1!8m2!3d43.0484939!4d10.8876394!16zL20vMDkwbmgx!3m5!1s0x1329ec04bf87e9af:0x69f3345154f94833!8m2!3d43.0504537!4d10.8880899!16s%2Fg%2F121dvj2b?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoASAFQAw%3D%3D"
          >Palazzo Communale</a
        > in Massa Marittima (12:00 Uhr) <br />
        Kleiner Empfang in Massa Marittima (~12:30 bis 14:00 Uhr) <br />

        <p style="line-height: 50%;border-left: 2px solid #999; margin-left: 20px;"><br /></p>
        Freie Zeit zum <a href="activities" class="underline">Stadtspaziergang, Eisessen</a> oder einfach am Pool entspannen
        ...
        <p style="line-height: 50%;border-left: 2px solid #999; margin-left: 20px;"><br /></p>

        Aperitivo auf der Tenuta Casteani (später Nachmittag, ca. 17:30 Uhr) <br />
        Hochzeitsdinner und Party (Open End) <br />
      </p>

      <p style="border-left: 2px solid #999; margin-left: 20px;"><br /></p>

      <p>
        15. Juni: <br />
        Abschiedsbrunch auf der Tenuta Casteani
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-(--aw-color-secondary) opacity-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    image={{
      src: '~/assets/images/palazzo_malfatti.png',
      alt: 'Zimmer Palazzo Malfatti',
    }}
  >
    <Fragment slot="title"
      ><Image src={'~/assets/images/olive_3.png'} alt={'Oliven'} style="max-width: 2em; display: inline;" /> Unterkunft vor
      Ort</Fragment
    >
    <Fragment slot="content">
      <p>
        Wir haben Zimmer für euch entweder auf der <a
          class="underline"
          target="_blank"
          href="https://www.casteani.it/de/">Tenuta Casteani</a
        > oder im <a class="underline" target="_blank" href="https://www.palazzomalfattiresidenzadepoca.com/?lang=en"
          >Palazzo Malfatti</a
        > (direkt in Massa Marittima) reserviert. Da der Platz begrenzt ist, helft ihr uns sehr, wenn ihr bereit seid, eure
        Zimmer oder Appartements mit anderen Gästen zu teilen. Wir bemühen uns natürlich, für euch die beste Lösung zu finden.
      </p>
      <p>
        Für die Hochzeit seid ihr unsere Gäste - wenn ihr aber ein paar Tage früher an- oder später abreisen wollt,
        bucht diese Zeit gerne selbst bei der Tenuta (vor dem 13. inzwischen ausgebucht) oder im Palazzo. Bitte meldet
        euch dann auch bei uns, damit wir die Zimmerbelegung während des Wochenendes koordinieren können!
      </p>
    </Fragment>
  </Content>

  <HeroText>
    <Fragment slot="title"
      ><Image src={'~/assets/images/olive_3.png'} alt={'Oliven'} style="max-width: 2em; display: inline;" /> Anreise & Parken
    </Fragment>
    <Fragment slot="content">
      <p class="mt-4 text-muted text-xl">
        Massa Marittima ist mit dem Auto in ca. 8 Stunden von München aus zu erreichen. Für das letzte Stück ab Colle di
        Val d'Elsa empfehlen wir die etwas weniger kurvige Strecke über Frosini und San Galgano.
      </p>
      <p class="mt-4 text-muted text-xl">
        Der nächstgelegene Flughafen ist Pisa, leichter zu erreichen aber Rom. Die ÖBB bietet Züge von München über
        Verona nach Bologna. Von dort geht es jeweils mit den Zugverbindungen der <a
          class="underline"
          target="_blank"
          href="https://www.trenitalia.com/de.html">Trenitalia</a
        > nach Follonica, dann mit dem Bus nach Massa Marittima.
      </p>
      <p class="mt-4 text-muted text-xl">
        Wenn ihr die Anreise entspannter gestalten möchtet, empfehlen wir Verona oder Bologna als Zwischenstation, die
        sich auch mit dem Zug sehr gut erreichen lässt.
      </p>
      <p class="mt-4 text-muted text-xl">
        Wenn ihr ohne Auto anreist, setzt euch mit uns in Verbindung, damit wir den Transport zwischen Massa und
        Casteani und bei Bedarf von Follonica organisieren können.
      </p>

      <p class="mt-4 text-muted text-xl">
        <b>Parkplätze</b> gibt es natürlich auf der Tenuta. In Massa gibt es einen <a
          href="https://www.google.com/maps/place/Parcheggio+di+Piazza+Garibaldi/@43.0492465,10.8877697,154m/data=!3m1!1e3!4m6!3m5!1s0x1329ef0018d90e33:0x427380f59aabecca!8m2!3d43.04941!4d10.8887172!16s%2Fg%2F11y6l6r_jd?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D"
          class="underline"
          target="_blank"
        >
          zentralen gebührenpflichtigen</a
        > und zwei
        <a
          href="https://www.google.com/maps/place/Parcheggio+Ex+Monastero+di+Santa+Chiara/@43.0524022,10.8936928,21z/data=!4m6!3m5!1s0x1329ed6a00484fa1:0x8c7d9092356e0a06!8m2!3d43.0523869!4d10.8937622!16s%2Fg%2F11l34vkj4d?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D"
          class="underline"
          target="_blank"
          >kleinere
        </a>,
        <a
          href="https://www.google.com/maps/@43.0496857,10.8867531,20.07z?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D"
          class="underline"
          target="_blank"
          >kostenlose
        </a> Parkplätze in Laufweite zur Piazza.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-(--aw-color-secondary) opacity-50 dark:bg-transparent"></div>
    </Fragment>
  </HeroText>

  <Features2
    title="Geschenke"
    subtitle="Gute Bücher, interessante Dinge, Zeit mit euch ... klein, leicht, transportabel und schön. ;)"
  />

  <Features2 title="Dresscode" subtitle="Sommerlich-elegant">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-(--aw-color-secondary) opacity-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features2
    title="Kontaktadressen"
    subtitle='Hier erreicht ihr unsere Trauzeug:innen Christine, Sandra und Raphael: <br/> <a href="mailto:trauzeugen@kirstin-und-jonathan.de" class="underline">trauzeugen@kirstin-und-jonathan.de<a/>'
  />

  <Features2
    title="Weitere Informationen"
    subtitle="Alle aktuellen Informationen findet ihr hier. Bei weiteren Fragen wendet euch gerne an das Brautpaar.<br/> Wir freuen uns schon sehr auf euch und auf diesen Tag!"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-(--aw-color-secondary) opacity-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
</Layout>
